*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
bintray.user=chengang1001
bintray.apikey=30959bece3d68a279c29397b6bbd1bdcd856df95
